@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card text-white bg-info" style="width:18rem;">
                <div class="card-body">
                    <h5 class="card-title">Total Requests</h5>
                    <p class="card-text">25</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white bg-warning" style="width:18rem;">
                <div class="card-body">
                    <h5 class="card-title">Pending Requests</h5>
                    <p class="card-text">25</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white bg-success" style="width:18rem;">
                <div class="card-body">
                    <h5 class="card-title">Approved Requests</h5>
                    <p class="card-text">25</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white bg-danger" style="width:18rem;">
                <div class="card-body">
                    <h5 class="card-title">Rejected Requests</h5>
                    <p class="card-text">23</p>
                </div>
            </div>
        </div>
    </div>

    <div class="" style="margin-top:25px;">
        <div class="card" >
            <div class="card-header">
                <div class="row">
                    <div class="col-lg-2">
                        <h5>Books List</h5>
                    </div>
                    <div class="col-lg-10" style="">
                        <div style="display:flex;justify-content:end;">
                            <a asp-controller="Book" asp-action="Create" >
                                <input type="button" value="Add new Book" class="btn btn-outline-success" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
            
                  <table class="table">
                      <thead>
                          <tr>
                              <th>Book ID</th>
                              <th>Title</th>
                              <th>Author</th>
                              <th>Available</th>
                              <th>Action</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                                <td>12223344</td>
                                <td>HelloIsATest</td>
                                <td>HelloIsATest</td>
                                <td>HelloIsATest</td>
                                <td>HelloIsATest</td>
                          </tr>
                      </tbody>
                  </table>
              
            </div>
        </div>
    </div>
  

</div>
